<!DOCTYPE html>
<html lang="en">
 {% include 'account/header.html'%}
  <body class="cyan">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <div id="login-page" class="row">
      <div class="col s12 z-depth-4 card-panel">
          <h6>Create an Account Or Login To Do Application</h6>
        <form method="post" action="" class="login-form">
                {{form.hidden_tag()}}
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>Login</h4>
                        <p class="center">Login</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">email</i>
                        {{form.email(placeholder="Email")}}

                        {%for error in form.email.errors%}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>
                </div>
                 <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        {{form.password(placeholder="Password")}}

                        {%for error in form.password.errors%}
                                <span>{{error}}</span>
                        {%endfor%}
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        {{form.remember_me(class='remember_me')}}
                        {{ form.remember_me.label }}
                          {%for error in form.remember_me.errors%}
                                <span>{{error}}</span>
                        {%endfor%}

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{form.submit(class="btn waves-effect waves-light col s12")}}
                    </div>
                    <div class="input-field col s12">
                        <p class="margin center medium-small sign-up">You Don't have an Account? <a
                                href="{{url_for('account.register')}}">Create Account</a></p>
                    </div>
                </div>
            </form>
      </div>
    </div>

  </body>
</html>