<p>Dear Sir,</p>

<p>!</p>

<p><strong>{{  }}</strong> has registered to the system</p>

<p>Please login to the system to approve them.</p>

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>
