<div class="dropdown-menu" aria-labelledby="notificationDropdown">
    <div class="dropdown-header d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-medium">New Notifications</p>
        <a href="javascript:;" class="text-muted">Clear all</a>
    </div>
    <div class="dropdown-body">
        <a href="javascript:;" class="dropdown-item">
            <div class="icon">
                <i data-feather="alert-circle"></i>
            </div>
            <div class="content">
                <p>No new notifications! <br/> Keep checking please</p>
                <p class="sub-text text-muted">1 hrs ago</p>
            </div>
        </a>
    </div>
    <div class="dropdown-footer d-flex align-items-center justify-content-center">
        <a href="{%if current_user.role.index == 'applicant'%}{{url_for('applicant.notifications_view')}}{%else%}
        #{%endif%}">View all</a>
    </div>
</div>

