{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net/select/dataTables.select.min.css') }}">
<style>
    .dt-buttons{
        float: right;
    }
    tr{
        cursor: pointer;
    }
</style>
<!-- end plugin css for this page -->

{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"></a>Home</li>
            <li class="breadcrumb-item"><a href="{{ url_for('admin.view_group_patients', group_id=group.group_id)}}">Groups</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Users To <span style="color: #167af9;">{{group.name}}</span></li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-4">Click on Patient to add them</h6>
                </div>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover mb-0">
                        <thead>
                          <tr>
                              <th class="pt-0">#</th>
                              <th class="pt-0">Name</th>
                              <th class="pt-0">Email</th>
                              <th class="pt-0">Phone Number</th>
                              <th class="pt-0">Status</th>
                              <th class="pt-0">Ward</th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for patient in all_patients %}
                          <tr>
                              <td></td>
                              <td style="color: #007bff;">{{patient.name}}</a>
                              </td>
                              <td style="color: #007bff;">{{patient.email}}</a>
                              </td>
                              <td>{{patient.phone_number}}</td>
                              <td>{{patient.status}}</td>
                              <td>{{patient.ward}}</td>

                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input class="btn btn-primary mr-2 mb-2 mb-md-0 text-white" type='submit' id="submit" value='Add To {{group.name}}'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if csrf_token()|safe %}
<div style="visibility: hidden; display: none">
  <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}" />
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<!-- plugin js for this page -->
<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/select/dataTables.select.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/buttons/buttons.dataTables.min.js') }}"></script>
<!-- end plugin js for this page -->
<script>
    $(document).ready(function() {
        'use strict';

        var csrftoken = "{{ csrf_token() }}"

        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken)
              }
          }
        });

        var table = $('#dataTable').DataTable( {
            columnDefs: [
              {
                 'targets': 0,
                  className: 'select-checkbox',
                 'checkboxes': {
                    'selectRow': true
                 }
              }
           ],
            select: {
              'style': 'multi',
               selector: 'td'
            },
            order: [[ 1, 'desc' ]],

            "aLengthMenu": [
                [10, 30, 50, -1],
                [10, 30, 50, "All"]
            ],
            "iDisplayLength": 10,

            dom: 'Blfrtip',
            buttons: [
                'selectAll',
                'selectNone'
            ],
            language: {
                buttons: {
                    selectAll: "Select all items",
                    selectNone: "Select none",
                    search: ""
                }
            }
        });


        $('#dataTable').each(function () {
            var datatable = $(this);
            // SEARCH - Add the placeholder for Search and Turn this into in-line form control
            var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
            search_input.attr('placeholder', 'Search');
            search_input.removeClass('form-control-sm');
            // LENGTH - Inline-Form control
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.removeClass('form-control-sm');
        });

        // Handle form submission event
       $('#submit').click(function(e){

          var rows_selected = table.rows( { selected: true } );

          // Iterate over all selected checkboxes
          $.each(rows_selected, function(e, dt, type, indexes){
              var rowData = rows_selected.data().toArray();
              console.log(rowData);
              JSON.stringify( rowData );

              rowData.forEach(function(element) {
                  var names = element[1];
                  $.post('{{url_for('admin.add_patient_submit', group_id=group.group_id)}}?names=' + names).done(
                       function(response) {
                            window.location.href="{{url_for('admin.view_group_patients', group_id=group.group_id)}}";
                        }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
                        console.log("Status: " + textStatus, "Error: " + errorThrown, "error");
                       });

              });
          });
       });
    });

</script>
{% endblock %}
