{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<!-- end plugin css for this page -->
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"></a>Home</li>
            <li class="breadcrumb-item active" aria-current="page">ALL GROUPS</li>
        </ol>
    </nav>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a href="{{ url_for('admin.new_group')}}" type="button" class="btn btn-primary">CREATE NEW</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-4">All Groups</h6>
                </div>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover mb-0">
                        <thead>
                          <tr>
                              <th class="pt-0">#</th>
                              <th class="pt-0">Name of Group</th>
                              <th class="pt-0">Number of People</th>
                              <th class="pt-0">Action</th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for group in all_groups %}
                          <tr>
                              <td>{{loop.index}}</td>
                              <td><a href="
                              {%if group.patients.count()>1%}{{ url_for('admin.view_group_patients', group_id=group.group_id) }}
                              {%elif group.staff.count()>1%}{{ url_for('admin.view_group_staff', group_id=group.group_id) }}
                              {%elif group.patients.count()==0%}{{ url_for('admin.view_group_patients', group_id=group.group_id) }}
                              {%elif group.staff.count()==0%}{{ url_for('admin.view_group_staff', group_id=group.group_id) }}
                              {%endif%}">
                                  {{group.name}}</a>
                              </td>
                              <td>
                                  <a href="#">
                                  {%if group.patients.count()>1%}{{group.patients.count()}}
                                  {%elif group.staff.count()>1%}{{group.staff.count()}}
                                  {%else%}0
                                  {%endif%}
                                  </a>
                              </td>
                              <td><a href="{{ url_for('admin.delete_group', group_id=group.group_id) }}"><button type="button" class="btn btn-danger btn-icon">
                                  <i data-feather="trash-2"></i></button></a></td>

                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {%for staff in staffs%}
    <!-- Modal -->
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">


    </div>
    {%endfor%}
</div>

{% endblock %}

{% block scripts %}
<!-- plugin js for this page -->
<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<!-- end plugin js for this page -->

<script>
    $(function () {
        'use strict';

        $(function () {
            $('#dataTable').DataTable({
                "aLengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: ""
                }
            });
            $('#dataTable').each(function () {
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Search');
                search_input.removeClass('form-control-sm');
                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.removeClass('form-control-sm');
            });
        });

    });
</script>
{% endblock %}
