{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<!-- end plugin css for this page -->
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"></a>Home</li>
            <li class="breadcrumb-item active" aria-current="page">ALL STAFF NUMBERS</li>
        </ol>
    </nav>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a href="{{ url_for('admin.new_staff')}}" type="button" class="btn btn-primary">CREATE NEW</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-4">All Staff</h6>
                </div>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover mb-0">
                        <thead>
                          <tr>
                              <th class="pt-0">#</th>
                              <th class="pt-0">Name</th>
                              <th class="pt-0">Email</th>
                              <th class="pt-0">Phone Number</th>
                              <th class="pt-0">Directorate</th>
                              <th class="pt-0">Department</th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for staff in all_staff %}
                          <tr>
                              <td>{{loop.index}}</td>
                              <td><a href="#">{{staff.name}}</a>
                              </td>
                              <td><a href="#">{{staff.email}}</a>
                              </td>
                              <td>{{staff.phone_number}}</td>
                              <td>{{staff.directorate}}</td>
                              <td>{{staff.department}}</td>

                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {%for staff in staffs%}
    <!-- Modal -->
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">


    </div>
    {%endfor%}
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/zamn/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<script>
    $(function () {
        'use strict';

        $(function () {
            $('#dataTable').DataTable({
                "aLengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: ""
                }
            });
            $('#dataTable').each(function () {
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Search');
                search_input.removeClass('form-control-sm');
                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.removeClass('form-control-sm');
            });
        });

    });
</script>
{% endblock %}
