{% extends 'layouts/admin_base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block custom_head_tags %}
{{ super() }}

{% endblock %}

{% block content %}


<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('admin.dashboard')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('admin.new_staff')}}">Add New Staff</a></li>
        <li class="breadcrumb-item active" aria-current="page">IMPORT STAFF DATA</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform" action="{{url_for('admin.upload_staff_csv')}}" method="post" enctype="multipart/form-data">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Upload a CSV file. </label>
                                <input class="form-control" type='file' name='file'>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input class="btn btn-primary mr-2 mb-2 mb-md-0 text-white" type='submit' value='Upload'>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

