{% extends 'layouts/admin_base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block custom_head_tags %}
{{ super() }}

{% endblock %}

{% block content %}


<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('admin.dashboard')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">CREATE NEW GROUP</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform" action="{{url_for('admin.new_group')}}" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name of the Group *</label>
                                {{ form.name(class="form-control") }}
                                {%for error in form.name.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

