{% extends 'layouts/admin_base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block custom_head_tags %}
{{ super() }}

{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('admin.dashboard')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('admin.view_all_staff')}}">All Staff</a></li>
            <li class="breadcrumb-item active" aria-current="page">ADD NEW STAFF MEMBERS</li>
        </ol>
    </nav>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a href="{{ url_for('admin.upload_staff_csv')}}" type="button" class="btn btn-primary">IMPORT FILE</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform" action="{{url_for('admin.new_staff')}}" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Full Name *</label>
                                {{ form.name(class="form-control") }}
                                {%for error in form.name.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email *</label>
                                {{ form.email(class="form-control") }}
                                {%for error in form.email.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number *</label>
                                {{ form.phone_number(class="form-control") }}
                                {%for error in form.phone_number.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Directorate *</label>
                                {{ form.directorate(class="form-control") }}
                                {%for error in form.directorate.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Department *</label>
                                {{ form.department(class="form-control") }}
                                {%for error in form.department.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

