{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}

{% endblock %}

{% block content %}


<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('admin.dashboard')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">SEND OUT NEW MESSAGE</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Change Password</h4>
                <p class="card-description"><b>Two-step verification</b></p>
                <p class="card-description">Make your account safer!
                    Two-step verification secures your account by requiring a second confirmation,
                    in addition to your password, to access your account.
                    That second step means your account stays secure even if your password is compromised.<br>
                    Safari will notify you about changes to your account and changes that will enable 2-factor
                    authentication.
                    Notifications are sent via email to {{user.email}}
                </p>
                <p class="card-description"><a href="{{url_for('admin.change_password')}}">Change Your Password</a></p>
                <div id="email" class="">
                    <h4 class="card-title">Change Email</h4>
                    <p class="card-description"><b>Confirm your primary email address</b><br>
                        Your primary email is {{user.email}}</p>
                    <p><a href="{{url_for('admin.change_email_request')}}">Change Your Email</a></p>
                </div>
                <div id="data" class="">
                    <h4 class="card-title">Your Details</h4>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th style="min-width: 150px;">Name</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Full Name</td>
                                <td>{{user.full_name()}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>{{user.phone_number}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts%}

{% endblock %}
