{% extends 'layouts/admin_base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
{{ super() }}
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<!-- end plugin css for this page -->
{% endblock %}

{% block content %}
<div class="profile-page tx-13">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="profile-header">
                <div class="cover">
                    <div class="gray-shade"></div>
                    <figure>
                        <img src="https://via.placeholder.com/1148x272" class="img-fluid" alt="profile cover">
                    </figure>
                    <div class="cover-body d-flex justify-content-between align-items-center">
                        <div>
                            <img class="profile-pic" src="https://via.placeholder.com/100x100" alt="profile">
                            <span class="profile-name">{{ group.name }}</span>
                        </div>
                        <div class="d-none d-md-block">
                            <a href="{{ url_for('admin.add_staff_to_group', group_id=group.group_id)}}"><button class="btn btn-primary btn-icon-text btn-edit-profile">
                                <i data-feather="edit" class="btn-icon-prepend"></i> ADD STAFF TO GROUP
                            </button></a>
                            <a href="{{ url_for('admin.add_patient_to_group', group_id=group.group_id)}}"><button class="btn btn-info btn-icon-text btn-edit-profile">
                                <i data-feather="edit" class="btn-icon-prepend"></i> ADD PATIENTS TO GROUP
                            </button></a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row profile-body">
        {% if group.staff %}
        <!-- left wrapper start -->
        <div class="d-none d-md-block col-md-12 col-xl-12 left-wrapper">
            <div class="card rounded">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-4">Staff</h6>
                    </div>
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Name</th>
                                <th class="pt-0">Email</th>
                                <th class="pt-0">Phone Number</th>
                                <th class="pt-0">Directorate</th>
                                <th class="pt-0">Department</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for staff in group.staff %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><a href="#">{{staff.name}}</a>
                                </td>
                                <td><a href="#">{{staff.email}}</a>
                                </td>
                                <td>{{staff.phone_number}}</td>
                                <td>{{staff.directorate}}</td>
                                <td>{{staff.department}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{% endblock%}
{% block scripts %}
<!-- plugin js for this page -->
<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<!-- end plugin js for this page -->

<script>

        $(function () {
            'use strict';

            $(function () {
                $('#dataTable').DataTable({
                    "aLengthMenu": [
                        [10, 30, 50, -1],
                        [10, 30, 50, "All"]
                    ],
                    "iDisplayLength": 10,
                    "language": {
                        search: ""
                    }
                });
                $('#dataTable').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.removeClass('form-control-sm');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.removeClass('form-control-sm');
                });
                $('#dataTable2').DataTable({
                    "aLengthMenu": [
                        [10, 30, 50, -1],
                        [10, 30, 50, "All"]
                    ],
                    "iDisplayLength": 10,
                    "language": {
                        search: ""
                    }
                });
                $('#dataTable2').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.removeClass('form-control-sm');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.removeClass('form-control-sm');
                });
            });

        });
</script>
<script>
    $(function () {
        'use strict';

        if ($('#datePickerExample').length) {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            $('#datePickerExample').datepicker({
                format: "dd/mm/yyyy",
                todayHighlight: true,
                autoclose: true
            });
            // var ub = new Date('{{user_dob}}');
            $('#datePickerExample').datepicker('setDate', today)
        }
    });
</script>
{% endblock %}