{# This macro is called for the sidebar. #}
{% macro render_menu_items(endpoints) %}
  {% for endpoint, name, icon in endpoints %}
    <li class="nav-item {% if request.endpoint == endpoint %}active{% endif %}">
      <a href="{{ url_for(endpoint) }}" class="nav-link">
        {% if icon %}<i class="link-icon" data-feather="{{ icon }}"></i> {% endif %}
        <span class="link-title ">{{ name | safe }}</span>
      </a>
    </li>
  {% endfor %}
{% endmacro %}
{% macro account_items(current_user) %}
  {% if current_user.is_authenticated %}
    {% set endpoints = [
      ('account.manage', 'Account', ''),
      ('account.logout', 'Log out', '')
    ] %}
      {{ render_menu_items(endpoints) }}
  {% else %}
    {% set endpoints = [
      ('account.register', 'Register', ''),
      ('account.index', 'Log In', '')
    ] %}
      {{ render_menu_items(endpoints) }}
  {% endif %}
{% endmacro %}

{% macro header_items(current_user, dropdown) %}
  {% if current_user.is_authenticated and current_user.role.index == 'admin' %}
    {% set endpoints = [
      ('admin.send_messages', 'Send Message', 'inbox'),
      ('admin.view_messages', 'All Messages', 'layers'),
      ('admin.view_all_groups', 'All Groups', 'users'),
      ('admin.view_all_staff', 'All Staff', 'briefcase'),
      ('admin.view_all_patients', 'All Patients', 'thermometer')
    ]%}
  {% elif current_user.is_authenticated and current_user.role.index == 'sender'%}
    {% set endpoints = [
      ('sender.send_messages', 'Send Message', 'inbox'),
      ('sender.sent_messages', 'Sent Messages', 'layers')
    ]%}
  {% endif %}
  {% set user = [] %}
  {% if current_user.is_authenticated %}
      {% set user = ([(current_user.role.index + '.dashboard', current_user.role.name + ' Dashboard', 'grid')]) %}
    {% endif %}
    {{ render_menu_items( user + endpoints) }}
{% endmacro %}
{% macro create_dropdown(dropdown, icon) %}
  {% for item in dropdown %}
    {% if item | length == 3 %}
      {{ render_menu_items([item]) }}
    {% elif item | length == 4 %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#uiComponents" role="button" aria-expanded="false" aria-controls="uiComponents">
              <i class="link-icon" data-feather="{{ item[3]}}"></i>
              <span class="link-title">{{ item[0] }}</span>
              <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="uiComponents">
              <ul class="nav sub-menu">
               {{ create_dropdown(item[1]) }}
              </ul>
            </div>
        </li>

    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_sidebar(current_user, dropdown=[]) %}

  <nav class="sidebar">
    <div class="sidebar-header">
      <a href="#" style="font-size: 18px;" class="sidebar-brand">
        ADMIN.<span>Panel</span>
      </a>
      <div class="sidebar-toggler not-active">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="sidebar-body">
      <ul class="nav">
        <li class="nav-item nav-category">Main</li>
        {{ header_items(current_user) }} {{ create_dropdown(dropdown) }}
      </ul>
    </div>
  </nav>

{% endmacro %}
