<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block page_title %}{{ config.APP_NAME }}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="">
<meta name="keywords" content="">

<!-- core:css -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/core/core.css') }}">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
<!-- end plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/feather-font/css/iconfont.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
<!-- End layout styles -->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
<style>
    .mdi {
        display: inline-block;
        font-size: 20px;
        text-align: left;
        margin-right: 12px;
        margin-left: 7px;
        color: #7987a1;
        transition: all .3s ease-in-out;
        position: absolute;
        right: -7%;
    }
    .mdi-checkbox-marked-outline{
        display: inline-block;
        font-size: 20px;
        text-align: left;
        margin-right: 12px;
        margin-left: 7px;
        color: #10b759;
        transition: all .3s ease-in-out;
    }
</style>
<!--STYLES END-->


{% if config.GOOGLE_ANALYTICS_ID %}
<!-- Google Analytics -->
<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ config.GOOGLE_ANALYTICS_ID }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}

{% if config.SEGMENT_API_KEY %}
<!-- Segment Analytics -->
<script>
    !function () {
        var analytics = window.analytics = window.analytics || [];
        if (!analytics.initialize)
            if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice.");
            else {
                analytics.invoked = !0;
                analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"];
                analytics.factory = function (t) {
                    return function () {
                        var e = Array.prototype.slice.call(arguments);
                        e.unshift(t);
                        analytics.push(e);
                        return analytics
                    }
                };
                for (var t = 0; t < analytics.methods.length; t++) {
                    var e = analytics.methods[t];
                    analytics[e] = analytics.factory(e)
                }
                analytics.load = function (t) {
                    var e = document.createElement("script");
                    e.type = "text/javascript";
                    e.async = !0;
                    e.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
                    var n = document.getElementsByTagName("script")[0];
                    n.parentNode.insertBefore(e, n)
                };
                analytics.SNIPPET_VERSION = "4.0.0";
                analytics.load('{{ config.SEGMENT_API_KEY }}');
                analytics.page();
            }
    }();
</script>
{% endif %}