{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
    {{ super() }}
     <style>
    td.s{
        padding: 0 !important;
        border-top: none !important;
        vertical-align: initial;
    }
    </style>
    <!-- CORE CSS-->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    {{ super() }}
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons/buttons.dataTables.min.css') }}">
    <!-- end plugin css for this page -->
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">VIEW</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Messages</li>
            </ol>
        </nav>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <a href="{{ url_for('sender.send_messages') }}" type="button" class="btn btn-primary">ADD MESSAGE</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-lg-4">
                        <h6 class="card-title mb-0">All Messages</h6>
                    </div>
                    <p class="card-description"></p>

                    <div class="table-responsive">
                        <table id="dataTable" class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th class="pt-0">#</th>
                                    <th class="pt-0">Date</th>
                                    <th class="pt-0">Message</th>
                                    <th class="pt-0">Phone Numbers</th>
                                    <th class="pt-0">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for message in all_messages %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        {{ moment(message.get_time()).format('MMMM Do YYYY, h:mm:ss a') }}
                                    </td>
                                    <td style="white-space: break-spaces;text-overflow: ellipsis;">{{ message.sms_message }}</td>
                                    <td style="white-space: nowrap;text-overflow: ellipsis;">{{ message.phone_number }}</td>
                                    <td>
                                        <span class="badge {% if message.status == 'Success' %}bg-success
                                            {% elif message.status == 'Sent' %}bg-primary
                                            {% else %}bg-danger{% endif %}">
                                            {{ message.status }}
                                        </span>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td><span style="color: #007bff;">No messages available</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
       <!-- plugin js for this page -->
<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/zamn/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>

<!-- end plugin js for this page -->

    <script>

        $(function () {
            'use strict';

            $(function () {
                $('#dataTable').DataTable({
                    "aLengthMenu": [
                        [10, 30, 50, -1],
                        [10, 30, 50, "All"]
                    ],
                    "iDisplayLength": 10,
                    "language": {
                        search: ""
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        {
                            extend: 'excel',
                            messageTop: 'All The Applications.'
                        },
                    ]
                });
                $('#dataTable').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.removeClass('form-control-sm');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.removeClass('form-control-sm');
                });
            });

        });
    </script>
    <script>
        $(function () {
            'use strict';

            if ($('#datePickerExample').length) {
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#datePickerExample').datepicker({
                    format: "dd/mm/yyyy",
                    todayHighlight: true,
                    autoclose: true
                });
                // var ub = new Date('{{user_dob}}');
                $('#datePickerExample').datepicker('setDate', today)
            }
        });
    </script>
{% endblock %}